@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 15px;
	margin-top: 20px;
}

table .table-head{
	color: white;
	background-color: 	#0d6efd;
	text-align: center;
}

.my-invalid{
	margin-top: 0px;
	font-size: 0.7rem;
	color: red;
}

th, td, span {
  vertical-align : middle;
}